.header-container {
  background: linear-gradient(90deg,#96e9fb,#abecd6);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  height: 620px;
  justify-content: space-between;
  position: relative;
  margin: 15px auto;
  width: 1292px;
}
.header_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 206px;
  width: 1292px;
  height: 619px;
  margin: 0 auto;
}
.header_data_details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 316px;
  justify-content: center;
  left: 126px;
  margin-top: 2rem;
  padding: 0;
  position: absolute;
  top: 101px;
  width: 548px;
}
.header_data_details h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  width: 550px;
  height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0;
}
.header_data_details h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 376px;
  height: 60px;
  
}
.summer_heading {
  width: 122px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2a7cc7;
}
.btn_shop_now{
  width: 221px;
  height: 62px;
  background: #23A6F0;
border-radius: 5px;
color: #ffffff;
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.1px;
border: none;
cursor: pointer;
}
.header_data_image {
  width: 697px;
  height: 619px;
  margin-left: 30rem;
}
.girl_img {
  width: 696px;
  height: 699px;
  margin-left: 12rem;
  /* margin-left: calc(50% - 696px/2 - 0.5px); */
  /* margin-top: 15px; */

  /* background: url(.png); */
  /* margin-top: 25px; */
}